.header__links {
	margin-right: 48px;
	align-self: flex-end;
}

@media screen and (max-width: 768px) {
	.header__links {
		margin-right: 24px;
	}
}

@media screen and (max-width: 320px) {
	.header__links {
		margin-right: 16px;
		font-size: 18px;
		line-height: 20px;
		align-self: center;
	}
}