.cover__image {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1184px;
	min-height: 740px;
	margin: 0 auto;
	background-image: url(../../../images/cover/__background.jpg);
	background-position: center;
	background-size: cover;
	margin-bottom: 92px;
	text-decoration: none;
	z-index: 1;
}

.cover__image:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #2A2C2F;
	opacity: 0.3;
	z-index: -1;
	transition: opacity 0.5s;	
}

.cover__image:hover::after {
	opacity: 0.8;
}

@media screen and (max-width: 1024px) {
	.cover__image {
		width: 100%;
		min-height: 640px;
	}
}

@media screen and (max-width: 768px) {
	.cover__image {
		max-width: 768px;
		min-height: 480px;
	}
}

@media screen and (max-width: 426px) {
	.cover__image {
		min-height: 425px;
		margin-bottom: 64px;

	}
}

@media screen and (max-width: 320px) {
	.cover__image {
		min-height: 200px;
		max-width: 320px;
	}
}