.lead__group {
	min-height: 262.99px;
	padding-top: 90px;
	padding-left: 23px;
	padding-right: 23px;
}

@media screen and (max-width: 1024px) {
	.lead__group {
		width: 90%;
		min-height: 248.02px;
		padding-top: 85px;
		padding-left: 22px;
	}
}

@media screen and (max-width: 768px) {
	.lead__group {
		min-height: 205.26px;
		padding-left: 19px;
		padding-top: 70.41px;
	}
}

@media screen and (max-width: 320px) {
	.lead__group {
		min-width: 276.74px;
		width: 86%;
		min-height: 80px;
		padding-top: 29px;
	}
}