.footer {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	width: 90%;
	max-width: 1184px;
	padding-bottom: 24px;
}

@media screen and (max-width: 320px) {
	.footer {
		flex-direction: column;
		min-width: 186px;
		width: 90%;
		margin-left: 16px;
	}
}